<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="gnb">
    <nav>
        <ul class="gnb-group">
            <li><a href="/">상품목록</a></li>
            <li><a href="/cart">장바구니</a></li>
            <li><a href="/settings">설정</a></li>
            <li class="nav-admin"><a href="/admin">관리자</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <ul class="productEntity-grid">
        <li class="productEntity" th:each="productEntity : ${productEntities}" th:onclick="showDetail([[${productEntity.id}]])">
            <div class="productEntity-image">
                <img alt="상품 이미지" th:src="${productEntity.getImageUrl()}"> <!-- 상품 이미지 -->
            </div>
            <div class="productEntity-info">
                <div class="productEntity-desc">
                    <p class="productEntity-category" th:text="${productEntity.getCategory()}"></p> <!-- 상품 카테고리 -->
                    <p class="productEntity-name" th:text="${productEntity.getName()}"></p> <!-- 상품 이름 -->
                    <p class="productEntity-price" th:text="${productEntity.getPrice()} + '원'"></p> <!-- 상품 가격 -->
                </div>
                <button type="submit" class="productEntity-btn" th:onclick="addCartItem([[${productEntity.id}]])">담기</button>
            </div>
        </li>
    </ul>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>
