<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="gnb">
    <nav>
        <ul class="gnb-group">
            <li><a href="/">상품목록</a></li>
            <li><a href="/cart">장바구니</a></li>
            <li><a href="/settings">설정</a></li>
            <li class="nav-admin"><a href="/admin">관리자</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <ul class="product-grid">
        
        <li class="product" th:each="product : ${products}">
            <div class="product-image">
                <img alt="상품 이미지" th:src="${product.image}">
            </div>
            <div class="product-info">
                <div class="product-desc">
                    <p class="product-name" th:text="${product.name}"></p>
                    <p class="product-price" th:text="${product.price}"></p>
                </div>
                <button type="submit" class="product-btn" th:onclick="addCartItem([[${product.id}]])">담기</button>
            </div>
        </li>
    </ul>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>
